<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href="static/img/profile.ico">
        <title>Bibek Poudel</title>
    </head>


    <body >
        <!--===== HEADER =====-->
        <header class="l-header">
         
            <nav class="nav bd-grid">
                <div>
                    <a href="{% url 'home' %}" class="nav__logo">Bi-Folio.</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>


{% block content %}{% endblock content %}




        <!--===== FOOTER =====-->
        <footer class="footer">
            
            <div class="footer__social">
                <a href="https://www.facebook.com/whoisdinanath" target="blank" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/whoisdinanath/" target="blank" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://twitter.com/whoisdinanath" target="blank" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p class="footer__copy">&#169; Bibek Poudel. All rigths reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>

